FROM {{ jhub_notebook_docker_image }} 

# Install psychopg2
RUN apt-get update
RUN apt-get -y install libpq-dev
RUN pip3.4 install psycopg2
RUN pip2.7 install psycopg2

# Install vim
RUN apt-get -y install vim

# Install terminado
RUN pip2.7 install terminado
RUN pip3.4 install terminado

# Install scikit-learn
RUN pip3.4 install scikit-learn==0.15

# Install widgets
RUN pip3.4 install ipywidgets
